@import '../../style/variaveis';
@import '../../style/breakpoints';

.header_desk {
  width: 100%;
  height: auto;

  @media (max-width: $mobile) {
    display: none;
  }
}

.information {
  background-color: $orange;
  display: flex;
  justify-content: center;
  height: 28px;

  &__size {
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav_media {
  padding-left: 10px;
  display: flex;
  width: 100px;
  flex-direction: row;
  justify-content: space-around;

  a {
    color: white;
  }
}

.page_user {
  padding-right: 14px;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  text-decoration: none;

  &__text {
    font-size: 16px;
    margin-left: 10px;
  }
}

.logo_and_nav {
  display: flex;
  background-color: $gray-white;
  display: flex;
  justify-content: center;
  height: 70px;
  border-bottom: 2px solid $gray-black-white;

  &__size {
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: 64px;
  height: auto;
  
  @media (min-width: $mobile) {
    margin-left: 10px;
  }
}

.nav_page {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-right: 10px;

  a {
    text-decoration: none;
    font-size: 16px;
    color: $gray-black;
  }
}

.button_page {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  color: $gray-black;
  cursor: pointer;

  svg {
    padding-left: 4px;
  }
}

.header_mob {
  width: 100%;
  height: 98px;
  background-color: $gray-white;
  border-bottom: 2px solid $gray-black-white;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (min-width: $mobile) {
    display: none;
  }
}

.link_user {
  text-decoration: none;
  color: $gray-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.nav_info {
  position: relative;

  &__sub {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $gray-white;
    width: 124px;
    height: auto;
    border: 1px solid $gray-black-white;
    border-radius: 2px;
    
    a {
      text-decoration: none;
      font-size: 16px;
      color: $gray-black;
      padding: 2px;

      &:hover {
        color: white;
        background-color: $gray-black-white;
      }
    }
  }
}