@import '../../style/variaveis';
@import '../../style/breakpoints';

.container_img {
  position: relative;

  &__img {
    width: 100%;
    height: auto;
    filter: grayscale(1);
  }

  &__text {
    position: absolute;
    top: 0;
    margin-top: 64px;
    margin-left: 84px;
    width: 364px;

    &__title {
      font-size: 46px;
      font-weight: bold;
      color: $orange;
      margin-bottom: 12px;
    }

    &__sub {
      font-size: 20px;
      font-weight: 600;
      width: 264px;
      color: $gray-white-black-two;
    }
  }
}
