@import '../../style/variaveis';
@import '../../style/breakpoints';

#img_desk {
  @media (max-width: $mobile) {
    display: none;
  }
}

#img_mob {
  @media (min-width: $mobile) {
    display: none;
  }
}

.container_img {
  position: relative;

  
  &__img {
    width: 100%;
    height: auto;
    filter: grayscale(1);
  }

  &__text {
    position: absolute;
    top: 0;
    margin-top: 64px;
    margin-left: 84px;
    width: 364px;

    @media (max-width: $mobile) {
      margin-left: 8vw;
      width: 80vw;
      margin-top: 4vw;
    }

    &__title {
      font-size: 46px;
      font-weight: bold;
      color: $orange;
      margin-bottom: 12px;

      @media (max-width: $mobile) {
        margin-left: 8vw;
      }
    }

    &__sub {
      font-size: 20px;
      font-weight: 600;
      width: 264px;
      color: $gray-white-black-two;

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
}

.container_form {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  margin-bottom: 64px;
  justify-content: center;

  &__border {
    opacity: 0.8;
    width: 764px;
    height: 64px;
    border: 1px solid $orange;
    border-radius: 20px;
    background-color: $gray-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media (max-width: $mobile) {
      width: 80vw;
      flex-direction: column;
      align-items: stretch;
      padding: 12px;
      height: auto;
    }
  }


  &__select {
    border: 1px solid $gray-black;
    border-radius: 10px;
    background-color: white;
    font-size: 12px;
    color: black;
    font-weight: 600;
    height: 32px;
    padding-right: 12px;
    padding-left: 8px;
    opacity: 1;

    @media (max-width: $mobile) {
      margin-bottom: 8px;
    }
  }

  &__inputtext {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    background-color: white;
    border: 1px solid $gray-black;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;

    @media (max-width: $mobile) {
      margin-bottom: 8px;
    }

    input {
      border: none;
      height: 30px;
      border-radius: 10px;
      &::placeholder {
        color: black;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  &__inputradio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $mobile) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      margin-bottom: 4px;
    }
  }
}

input[type='radio'] {
  display: none;
}

.radio-container label {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 4px;
}

.custom-radio {
  border: 1px solid black;
  width: 14px;
  height: 14px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.custom-radio,
span {
  transition: 0.5s ease;
  color: black;
  font-size: 12px;
  font-weight: 500;
}

.custom-radio span {
  content: '';
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 50%;
}

input[type='radio']:checked + .custom-radio {
  border-color: black;
}

input[type='radio']:checked + .custom-radio span {
  background: black;
}

.button_form {
  font-size: 16px;
  color: $orange;
  font-weight: 600;
  background-color: black;
  opacity: 0.8;
  border: 2px solid $orange;
  border-radius: 10px;
  width: 124px;
  height: 40px;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.container_info {
  display: flex;
  margin-top: 24px;
  height: auto;
  margin-bottom: 24px;
  margin-left: 32px;
  margin-right: 32px;
  flex-direction: column;
  align-items: center;

  &__sub {
    border-top: 1px solid $gray-white-black-two;
    border-bottom: 1px solid $gray-white-black-two;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 46px;
      font-weight: 200;
      color: $gray-black;
      width: 682px;
      text-align: center;
      margin-top: 32px;
      margin-bottom: 32px;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }

    &__button {
      width: 340px;
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      color: $orange;
      background-color: $gray-white;
      border: 1px solid $orange;
      border-radius: 10px;
      margin-bottom: 64px;


      @media (max-width: $mobile) {
        width: 60vw;
      }
    }
  }
}

.container_carousel {
  margin-bottom: 32px;

  &__title {
    font-size: 20px;
    color: $gray-black;
    font-weight: 300;
    margin-left: 42px;
    margin-bottom: 12px;
  }

  &__carousel {
    margin-right: 64px;
    margin-left: 64px;
  
    @media (max-width: $mobile) {
      margin-right: 24px;
      margin-left: 24px;
    }
  }
}
